.feynman__link {
  margin-top: 50%;
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
    opacity: 50%;
    transition: width 2s;
}
