.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
  /*align-items: flex-start;*/

  /*margin: 60px auto 40px;*/
}
