.two-columns__paragraph {
    margin:0 auto 30px;
    line-height: 34px;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .two-columns__paragraph:last-of-type {
    margin-bottom:0;
  }
