.footer__column-links {
  margin: 20px auto 16px;
  padding: 0;
  list-style: none;;
}

.footer__column-links li {
  margin-bottom: 10px;
}

.footer__column-links li:last-of-type {
  margin-bottom: 03;
}
/*
.footer__column-links li a{
  margin-bottom: 10px;
  text-decoration: none;
  color: white
}

.footer__column_links li a:hover {
  opacity: 50%;
  transition: width 2s;
}
*/
