.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

body{
  font-family: "Inter", "Arial", sans-serif;;
}

.two-columns{
  min-height: 400px;
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns-brief{
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin:0;
}

.two-columns-main-text{
  width: 80%; 
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
}

.two-columns-span-accent{
  font-weight: 700;
}

.two-columns-paragraph{
  margin:0 auto 30px;
}

.two-columns-last-paragraph{
  margin-bottom:0;
}

.digits{
  padding: 100px 0;
}
.table{
  width:1100px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-cell{
  width:250px;
  margin: 60px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.table-heading{
  line-height: 1.15 ;
  font-size: 24px;
  font-weight: 700;
  margin:0;
}

.table-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-self: flex-start;
  margin: 20px 0 0;
}


.table-cell-theme-dark{
  width:200px;
}

.kaufman{
  background-color: #1f1f1f;
  color: white;
  padding:90px 0;
}
